@import url(components.css);
@import url(variables.css);
@import url(animations.css);
@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FunnelSans', sans-serif;
    color: var(--on-background);
}

body {
    background-color: var(--background);
}

.background-canvas {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
}

.body-green{
    background-color: green;
}

.full-height {
    height: 100%;
}

.header {
    top: 0;
    height: var(--header-height);
    background-image: linear-gradient(130deg, var(--primary), var(--tertiary-container), var(--primary), var(--tertiary-container));
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -8px 5px 10px var(--on-background);
    animation: gradientMove 20s infinite;
}

.header__title {
    font-family: 'PoiretOne', 'FunnelSans', sans-serif;
}

.footer {
    bottom: 0;
    height: var(--footer-height);
    background: var(--secondary-container);
    font-family: 'FunnelSans-Italic', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    color: var(--on-secondary-container);
    box-shadow: 0px 8px 5px 10px var(--on-background);
}

.fixed {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.main-layout {
    padding-top: calc(var(--header-height) + var(--flex-gap));
    padding-bottom: calc(var(--footer-height) + var(--flex-gap));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--flex-gap);
}

